In [7]:
import pandas as pd

# Open the master_sheet.xlsx file - Jour 3 sheet
master_sheet = pd.read_excel('master_sheet.xlsx', sheet_name='Jour 3')

# Display the first few rows
master_sheet.head()

,Unnamed: 0,Sujets,Groupes,Cage,Poids,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Dose,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,T end,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Notes
0,NaN,659V,VY,1S,436,NaN,NaN,NaN,NaN,0.54500,...,NaN,NaN,NaN,NaN,1832,NaN,NaN,NaN,NaN,"(dose pas tout injecté, j'ai du arrêté l'i.p. yoh"
1,NaN,670V,VY,8S,440,NaN,NaN,NaN,NaN,0.55000,...,NaN,NaN,NaN,NaN,1833,NaN,NaN,NaN,NaN,NaN
2,NaN,819V,VY,14S,435,NaN,NaN,NaN,NaN,0.54375,...,NaN,NaN,NaN,NaN,1834,NaN,NaN,NaN,NaN,NaN
3,NaN,812V,VY,20S,436,NaN,NaN,NaN,NaN,0.54500,...,NaN,NaN,NaN,NaN,1831,NaN,NaN,NaN,NaN,NaN
4,NaN,633*V,VY,1D,467,NaN,NaN,NaN,NaN,0.58375,...,NaN,NaN,NaN,NaN,1832,NaN,NaN,NaN,NaN,NaN

In [8]:
# Remove columns that are entirely empty (all NaN/null values)
columns_to_drop = [col for col in master_sheet.columns if master_sheet[col].isna().all()]
master_sheet = master_sheet.drop(columns=columns_to_drop)

print(f"Dropped {len(columns_to_drop)} empty column(s): {columns_to_drop}")
print(f"\nRemaining columns: {list(master_sheet.columns)}")
print(f"\nCleaned data shape: {master_sheet.shape}")
master_sheet.head()

Dropped 33 empty column(s): ['Unnamed: 0', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43']

Remaining columns: ['Sujets', 'Groupes', 'Cage', 'Poids', 'Dose', 'Time mark', 'Poids.1', 'Dose.1', 'Time mark.1', 'T start', 'T end', 'Notes']

Cleaned data shape: (45, 12)

,Sujets,Groupes,Cage,Poids,Dose,Time mark,Poids.1,Dose.1,Time mark.1,T start,T end,Notes
0,659V,VY,1S,436,0.54500,1718,436,0.581188,1736,1752,1832,"(dose pas tout injecté, j'ai du arrêté l'i.p. yoh"
1,670V,VY,8S,440,0.55000,1720,440,0.586520,1738,1753,1833,NaN
2,819V,VY,14S,435,0.54375,1721,435,0.579855,1740,1754,1834,NaN
3,812V,VY,20S,436,0.54500,1812,436,0.581188,1829,1851,1831,NaN
4,633*V,VY,1D,467,0.58375,1813,467,0.622511,1831,1852,1832,NaN

In [11]:
# Open the file_names.xlsx file
file_names = pd.read_excel('file_names.xlsx')

# Extract components from the "Name" column (format: YYYY_MM_DD__hh_mm_ss_animal_number.csv)
file_names[['Year', 'Month', 'Day', 'Hour', 'Minute', 'Second', 'Animal_Number']] = file_names['Name'].str.extract(
    r'(\d{4})_(\d{2})_(\d{2})__(\d{2})_(\d{2})_(\d{2})_(.+?)\.csv'
)

# Convert numeric columns to integers
numeric_cols = ['Year', 'Month', 'Day', 'Hour', 'Minute', 'Second']
for col in numeric_cols:
    file_names[col] = pd.to_numeric(file_names[col], errors='coerce').astype('Int64')

print("Extracted columns:")
print(file_names)
print(f"\nColumns: {list(file_names.columns)}")

# Save the updated dataframe back to the same file
file_names.to_excel('file_names.xlsx', index=False)
print("\nFile saved successfully to file_names.xlsx")

Extracted columns:
                                 Name  Year  Month  Day  Hour  Minute  Second  \
0    2025_12_10__07_34_00_gegssdg.csv  2025     12   10     7      34       0
1     2025_12_10__07_34_04_dsggsd.csv  2025     12   10     7      34       4
2     2025_12_10__07_34_08_dgssgd.csv  2025     12   10     7      34       8
3     2025_12_10__07_34_10_sdgsdg.csv  2025     12   10     7      34      10
4     2025_12_10__07_34_11_sdggsd.csv  2025     12   10     7      34      11
..                                ...   ...    ...  ...   ...     ...     ...
503      2025_12_20__17_08_04_592.csv  2025     12   20    17       8       4
504      2025_12_20__17_08_11_815.csv  2025     12   20    17       8      11
505      2025_12_20__17_09_00_734.csv  2025     12   20    17       9       0
506      2025_12_20__17_09_08_648.csv  2025     12   20    17       9       8
507      2025_12_20__17_10_10_652.csv  2025     12   20    17      10      10

    Animal_Number
0         gegssdg
1          dsggsd
2          dgssgd
3          sdgsdg
4          sdggsd
..            ...
503           592
504           815
505           734
506           648
507           652

[508 rows x 8 columns]

Columns: ['Name', 'Year', 'Month', 'Day', 'Hour', 'Minute', 'Second', 'Animal_Number']

PermissionError: [Errno 13] Permission denied: 'file_names.xlsx'

In [14]:
# Define the date mapping for each Jour
date_mapping = {
    'Jour 1 (trial run)': (2025, 12, 9),
    'Jour 1': (2025, 12, 10),
    'Jour 2': (2025, 12, 11),
    'Jour 3': (2025, 12, 12),
    'Jour 4': (2025, 12, 14),
    'Jour 5': (2025, 12, 15),
    'Jour 6': (2025, 12, 16),
    'Jour 7': (2025, 12, 17),
    'Jour 8': (2025, 12, 18),
    'Jour 9': (2025, 12, 19),
    'Jour 10': (2025, 12, 20)
}

# Reload file_names to ensure we have the latest data
file_names_fresh = pd.read_excel('file_names.xlsx')
file_names_fresh[['Year', 'Month', 'Day', 'Hour', 'Minute', 'Second', 'Animal_Number']] = file_names_fresh['Name'].str.extract(
    r'(\d{4})_(\d{2})_(\d{2})__(\d{2})_(\d{2})_(\d{2})_(.+?)\.csv'
)
file_names_fresh[['Year', 'Month', 'Day']] = file_names_fresh[['Year', 'Month', 'Day']].astype(int)

# Get the current sheet name and date
current_jour = 'Jour 3'
year, month, day = date_mapping[current_jour]

# Function to match subject ID to filename for specific date
def get_filename_for_subject_date(subject_id, file_df, year, month, day):
    """Extract animal number from subject ID and find matching filename for the date"""
    # Remove letters like V, *, etc. to get just the number
    animal_number = ''.join(c for c in str(subject_id) if c.isdigit())
    
    # Filter file_names for the specific date and animal number
    match = file_df[(file_df['Year'] == year) & 
                    (file_df['Month'] == month) & 
                    (file_df['Day'] == day) & 
                    (file_df['Animal_Number'] == animal_number)]
    
    if len(match) > 0:
        return match.iloc[0]['Name']
    return None

# Get the first subject ID from master_sheet
first_subject = master_sheet.iloc[0, 0]
print(f"First subject: {first_subject}")
print(f"Current Jour: {current_jour}")
print(f"Date: {year}/{month:02d}/{day:02d}")

# Find matching filename
filename = get_filename_for_subject_date(first_subject, file_names_fresh, year, month, day)
print(f"Matching filename for subject {first_subject}: {filename}")

# Now add the new column at the front of master_sheet
master_sheet.insert(0, 'Data_File', '')

# Fill in the filenames for each row
for idx, row in master_sheet.iterrows():
    subject_id = row.iloc[1]  # Second column now (was first before insert)
    filename = get_filename_for_subject_date(subject_id, file_names_fresh, year, month, day)
    master_sheet.at[idx, 'Data_File'] = filename

print("\nFirst few rows with new Data_File column:")
print(master_sheet.head())

First subject: 2025_12_12__17_50_08_659.csv
Current Jour: Jour 3
Date: 2025/12/12
Matching filename for subject 2025_12_12__17_50_08_659.csv: None

ValueError: cannot insert Data_File, already exists

In [15]:
# Save a copy of the updated master_sheet with the new name
master_sheet.to_excel('master_sheet_names.xlsx', sheet_name='Jour 3', index=False)
print("Master sheet saved as 'master_sheet_names.xlsx'")

Master sheet saved as 'master_sheet_names.xlsx'